* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1E2D3B;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  width: 100vw;
  height: 80px;
  background-color: #2e3a46;
}

header img {
  height: 70%;
}

header .header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  padding: 200px 0px;
}

main section#card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

main .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #2e3a46;
  padding: 20px;
  height: 350px;
  cursor: pointer;
  transition: 200ms ease-out;
}

main .card:hover {
  transform: scale(1.03);
  box-shadow: 0px 10px 15px 5px #0006;
}

main .card img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

main .card h4 {
  color: #fff;
}

main .card p {
  color: #fff;
}

